@font-face {
  font-family: euclid;
  src: url(./assets/fonts/euclid_regular.ttf);
}
@font-face {
  font-family: euclid_bold;
  src: url(./assets/fonts/euclid_bold.ttf);
}
@font-face {
  font-family:euclid_medium;
  src: url(./assets/fonts/euclid_medium.ttf);
}
@font-face {
  font-family: euclid_light;
  src: url(./assets/fonts/euclid_light.ttf);
}
@font-face {
  font-family: euclid_semi_bold;
  src: url(./assets/fonts/euclid_semi_bold.ttf);
}
@font-face {
  font-family: Freeroad ;
  src: url(./assets/fonts/Freeroad\Bold.ttf);
}

#purchase{
  background: linear-gradient(90deg, #CFA2E8, #637FEA);
}
#corse{
  background-image: url(./assets/images/tree-shape.svg);
  background-size: cover;
  background-repeat: no-repeat
}
@tailwind base;
@tailwind components;
@tailwind utilities;

#an::after{
  position: absolute;
  content: '';
  width: 0%;
  height: 1.5px;
  background-color: #2f57ef;
  left: 50;
  bottom: 12px;
  border-radius: 50px;
}

#an:hover::after{
  width: 30%;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}